<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ml.magsec.duplicatephotosremover">
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true" android:xlargeScreens="true"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application android:allowBackup="true" android:hardwareAccelerated="false" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="ml.magsec.duplicatephotosremover.activity.SplashScreen" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="ml.magsec.duplicatephotosremover.activity.CPrivacyPolicyActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="ml.magsec.duplicatephotosremover.activity.MainActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="ml.magsec.duplicatephotosremover.activity.DisplayDuplicateImages"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="ml.magsec.duplicatephotosremover.activity.TransparentOverLayActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="ml.magsec.duplicatephotosremover.activity.ScanningForDuplicates"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="ml.magsec.duplicatephotosremover.activity.PreviewImage"/>
        <service android:name="ml.magsec.duplicatephotosremover.service.KillNotificationsService"/>
        <service android:name="ml.magsec.duplicatephotosremover.service.DeviceLockMonitorService"/>
        <receiver android:name="ml.magsec.duplicatephotosremover.broadcastreceivers.NotificationDuplicates"/>
        <receiver android:enabled="true" android:name="ml.magsec.duplicatephotosremover.broadcastreceivers.DeviceBootMonitoring" android:permission="android.permission.RECEIVE_BOOT_COMPLETED" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="1"/>
    </application>
</manifest>